<div class="row">
    <div class="col-lg-10">
        <div class="well" ng-controller="createproductCtrl">
            <form class="form-horizontal" name="createProductForm" ng-submit="createProduct()">
                <fieldset>
                    <legend>Создать товар</legend>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <label class="has-error" ng-show="createProductForm.product.name.$error.required">Необходимо ввести e-mail!</label>
                            <label class="has-error" ng-show="createProductForm.product.name.$error.minlength">Слигком короткий логин!</label>
                            <label class="has-error" ng-show="createProductForm.product.name.$error.maxlength">Слишком длинный логин!</label>
                            <input type="text" name="productName" ng-model="product.name" class="form-control"
                                   placeholder="Введите название товара" required ng-minlength="3" ng-maxlength="255">
                        </div>
                        <div class="col-lg-10">
                            <label class="has-error" ng-show="createProductForm.product.price.$error.required">Необходимо ввести e-mail!</label>
                            <label class="has-error" ng-show="createProductForm.product.price.$error.minlength">Слигком короткий логин!</label>
                            <label class="has-error" ng-show="createProductForm.product.price.$error.maxlength">Слишком длинный логин!</label>
                            <input type="text" name="productPrice" ng-model="product.price" class="form-control"
                                   placeholder="Введите цену товара" required ng-minlength="3" ng-maxlength="255">
                        </div>
                        <div class="col-lg-10">
                            <label class="has-error" ng-show="createProductForm.product.description.$error.required">Необходимо ввести e-mail!</label>
                            <label class="has-error" ng-show="createProductForm.product.description.$error.minlength">Слигком короткий логин!</label>
                            <label class="has-error" ng-show="createProductForm.product.description.$error.maxlength">Слишком длинный логин!</label>
                            <input type="text" name="productDescription" ng-model="product.description" class="form-control"
                                   placeholder="Введите описание товара" required ng-minlength="3" ng-maxlength="1000">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button class="btn btn-primary" type="submit">Создать/Сохранить{{product.description}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
