<div class="row">
    <div class="col-lg-10">
        <h1>Angular Task</h1>
        <div class="well" ng-controller="logInCtrl">
            <form class="form-horizontal" name="loginForm" ng-submit="checkIdentity()">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <label class="has-error" ng-show="loginForm.userLogin.$error.required">Необходимо ввести e-mail!</label>
                            <label class="has-error" ng-show="loginForm.userLogin.$error.minlength">Слигком короткий логин!</label>
                            <label class="has-error" ng-show="loginForm.userLogin.$error.maxlength">Слишком длинный логин!</label>
                            <label class="has-error" ng-show="access == 'denied'" >Такого пользователя не существует!</label>
                            <input type="email" name="userLogin" ng-model="user.login" class="form-control"
                                   placeholder="Введите логин" required ng-minlength="3" ng-maxlength="45">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <label class="has-error" ng-show="loginForm.userPassword.$error.minlength">Слигком короткий пароль!</label>
                            <label class="has-error" ng-show="loginForm.userPassword.$error.maxlength">Слишком длинный пароль!</label>
                            <label class="has-error" ng-show="loginForm.userPassword.$error.required">Необходимо ввести пароль!</label>
                            <input name="userPassword" ng-model="user.password" class="form-control" type="password"
                                   placeholder="Введите пароль" required ng-minlength="3" ng-maxlength="16" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]{6,16})$/">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button class="btn btn-primary" type="submit">Войти</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
